* {
  margin: 0;
}

h1 {
  position: fixed;
  margin: 10px;
  z-index: 1;
  color: blue;
}

#preview-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 50px; /* pour que le titre soit visible */
}

.preview {
  width: 300px;
  height: 200px;
  border: 1px solid #ccc;
  position: relative;
  cursor: pointer;
}

#container {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  background-color: #f0f0f0;
}
